html{
	height:100%;
	}
body {
    background-color: #F7F7F7;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-weight: normal;
    font-size: 140%;
	 text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

iframe {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: #ddd;
  border-width: 0 1px 1px 0;
}

.invisible {
    display: none;
}

.container {
    margin: 2em auto 0;
    width: 640px;
    padding: 2em;
    background: white;
    -webkit-box-shadow: 0 1px 10px #D9D9D9;
    -moz-box-shadow: 0 1px 10px #D9D9D9;
    -ms-box-shadow: 0 1px 10px #D9D9D9;
    -o-box-shadow: 0 1px 10px #D9D9D9;
    box-shadow: 0 1px 10px #D9D9D9;
}

.caption {
    font-style: italic;
    text-align: center;
    padding: 1em;
}

.translucent {
    margin: 5px 100px 0;
    width: 400px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(128, 128, 128, 0.2);
    border-radius: 5px;
    font-family: Helvetica, serif;
    font-style: italic;
    font-size: 12px;
    color: white;
}

#stats { position: absolute; top:0; left: 0 }
#stats #fps #fpsText { color: #aaa !important }
#stats #fps #fpsGraph { display: block }

.tab-content>.active { display: flex }
.tabset, .tab-content, .tab-pane, .tabbable {
  height:100%;
}
#viewer {display: flex}

.navbar-brand>img {
  max-height: 100%;
}
.jumbotron {
    width: 100%;
    background-color: #3e3e3e;;
    color:white;
}
.jumboimage {
    width:500px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.jumbotron>p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

 /* The side navigation menu */
.sidenav {
    color:white;
    max-height:50%; /* 100% Full-height */
    max-width: 85%;
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #3175b0; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    margin-top: 80px;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 30px;
    color: black;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #3175b0;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    color: #3e3e3e;
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 
.maincont{
    max-width:70%;
    width: 70%;
}
.thumbnails li{list-style:none !important;}
.sidebtn{
    margin: 20px;
}

.btn-file {
        position: relative;
        overflow: hidden;
    }
.btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
.upnav{
    color:black;
}
